// общие стили
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@400;500;700&display=swap')

html
  box-sizing: border-box
  font-size: 62.5%

*, *::before, *::after
  box-sizing: inherit

body
  margin: 0
  font-family: 'Open Sans', sans-serif

.container
  width: 100%
  max-width: 114rem
  margin: 0 auto
  padding: 0 25rem

  /* раздел "Our Story" */
.story
  &_inner
    display: flex
  &_left

  &_title_2
    text-transform: uppercase
    text-align: center
    font-weight: bold
    font-size: 1.8rem
    padding: 5rem 0
  &_title_2::after
    content: ''
    width: 5rem
    height: .2rem
    background-color: #00A4E5

  &_title_3
  &_text
  &_right
  &_item

.accent-color
