// общие стили
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@400;500;700&display=swap')

html
  box-sizing: border-box
  font-size: 62.5%

*, *::before, *::after
  box-sizing: inherit

body
  margin: 0
  font-family: 'Open Sans', sans-serif

.container
  width: 100%
  max-width: 114rem
  margin: 0 auto
  padding: 0 25rem

  /* раздел "Our Story" */
.story

  &_left

  &_title_2
    text-transform: uppercase

  &_title_3

.accent-color

.story_text

.story_right

.story_item
